@use '../utilities' as *;

.description {
  padding: 15px;

  &-title {
    p {
      @include lato-text(1.3rem, 500, 36px);

      text-align: center;
      color: $primary-red;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    h1 {
      @include coco-text(1.7rem, 500, 36px);

      text-align: center;
      margin: 0 auto;
      background: #ec5242;
      background: repeating-radial-gradient(circle farthest-corner at center center, #ec5242 0%, #ec5242 25%, #382e0a 50%, #ec5242 75%, #ec5242 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  &-text {
    p {
      @include lato-text(0.8rem, 500, 30px);

      margin: 12px 0;
      padding: 20px;
      color: $primary-black;
      background-color: $primary-white;
      text-align: center;
      margin-bottom: 2rem;
    }

    h2 {
      @include coco-text(0.6rem, 500, 36px);

      color: $primary-black;
      text-align: center;
    }

    .email {
      @include lato-text(0.8rem, 700, 25px);

      color: $primary-black;
      margin: 0;
      padding: 0;
      border: 0;
      margin-bottom: 4rem;
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

@include desktop {
  .description {
    padding: 6rem;

    &-title {
      margin-bottom: 2rem;

      p {
        @include lato-text(2rem, 500, 45px);
      }

      h1 {
        @include coco-text(3rem, 500, 70px);

        margin: 5px;
      }
    }

    &-text {
      p {
        @include lato-text(1rem, 500, 30px);

        padding-left: 30px;
        width: 75%;
        margin: auto;
      }

      h2 {
        @include coco-text(1rem, 500, 45px);
      }

      .email {
        @include lato-text(1rem, 600, 25px);

        text-align: center;
        margin: auto;
      }
    }
  }
}

@include large {
  .description {
    padding-top: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;

    &-title {
      h1 {
        width: 80%;
        margin: 5px;
        margin: auto;
      }
    }

    &-text {
      p {
        @include lato-text(1rem, 500, 30px);

        padding-left: 30px;
        width: 55%;
        margin-bottom: 80px;
        margin-top: 50px;
      }
    }
  }
}
