@use '../utilities' as *;

.classify-steps {
  background-color: $primary-black;
  padding: 54px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
    display: inline-block;

    @include lato-text(1.5rem, 500, 30px);

    color: $primary-white;
  }

  ul {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 12px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 12px;
      width: 100%;
      height: auto;
      background: #41434b;
      padding: 12px;
      transition: border 0.8s;

      img {
        width: 40px;
        height: 40px;
        flex-basis: 20%;
      }

      h2 {
        color: #ec5242;

        @include lato-text(1rem, 700, 24px);

        flex-basis: 30%;
      }

      p {
        color: $primary-white;

        @include lato-text(0.8rem, 500, 24px);

        overflow: unset;
        flex-basis: 50%;
        margin: 0;
        word-wrap: break-word;
      }
    }
  }

  a {
    @include lato-text(1rem, 700, 24px);

    background-color: $primary-red;
    padding: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 1.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    text-decoration: none;
    color: $primary-white;
    text-align: center;
  }
}

@include desktop {
  .classify-steps {
    ul {
      flex-direction: row;
      padding-left: 10%;
      padding-right: 10%;
      gap: 2px;
      margin-bottom: 3rem;

      li {
        flex-direction: column;
        height: 200px;

        img {
          flex-basis: 25%;
          width: 60px;
          height: 60px;
        }

        h2 {
          flex-basis: 25%;
        }

        p {
          text-align: center;
        }
      }
    }

    a {
      width: 115px;

      @include lato-text(1rem, 700, 24px);

      background-color: transparent;
      border: none;
      border-bottom: 1px solid $primary-white;
      padding: 0;
      text-transform: uppercase;
    }
  }
}
