@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.link {
  text-decoration: none;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../../assets/fonts/Cocogoose.eot") format("eot"), url("../../assets/fonts/Cocogoose.woff") format("woff"), url("../../assets/fonts/Cocogoose-regular.ttf") format("truetype"), url("../../assets/fonts/Cocogoose.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

header {
  background: transparent;
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 50;
}

header nav a {
  display: none;
}

header nav ul {
  display: none;
}

header nav .menu-icon {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.headline {
  padding: 15px;
}

.headline-title p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 36px;
  color: #ec5242;
  margin: 0;
}

.headline-title h1 {
  font-family: "Cocogoose", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 36px;
  margin: 8px;
  background: #ec5242;
  background: repeating-radial-gradient(circle farthest-corner at center center, #ec5242 0%, #ec5242 25%, #382e0a 50%, #ec5242 75%, #ec5242 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 0;
}

.headline-description p {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  margin: 12px 0;
  padding: 12px;
  color: #41434b;
}

.headline-description h2 {
  font-family: "Cocogoose", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  color: #272a31;
}

.headline-description .address {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 25px;
  color: #41434b;
  margin: 0;
  padding: 0;
}
