@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.link {
  text-decoration: none;
}

body {
  background-color: #f0f0f0;
  margin: 0;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../../assets/fonts/Cocogoose.eot") format("eot"), url("../../assets/fonts/Cocogoose.woff") format("woff"), url("../../assets/fonts/Cocogoose-regular.ttf") format("truetype"), url("../../assets/fonts/Cocogoose.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
  background: transparent;
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 50;
}
header nav a {
  display: none;
}
header nav ul {
  display: none;
  position: relative;
  list-style: none;
  z-index: 100;
}
header nav .menu-icon {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
  header {
    box-shadow: 0 1px 10px 3px #a7a5a5;
    background: #fff;
  }
  header nav {
    display: flex;
    justify-content: space-between;
  }
  header nav a {
    display: block;
  }
  header nav a img {
    width: 57px;
    height: auto;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
  }
  header nav ul li {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
  }
  header nav ul li a {
    color: #41434b;
  }
  header nav .menu-icon {
    display: none;
  }
}
.headline {
  padding: 15px;
}
.headline-title p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 36px;
  color: #ec5242;
  margin: 0;
}
.headline-title h1 {
  font-family: "Cocogoose", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 36px;
  margin: 8px;
  background: #ec5242;
  background: repeating-radial-gradient(circle farthest-corner at center center, #ec5242 0%, #ec5242 25%, #382e0a 50%, #ec5242 75%, #ec5242 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 0;
}
.headline-description p {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  margin: 12px 0;
  padding: 12px;
  color: #41434b;
  border: solid #fff;
}
.headline-description h2 {
  font-family: "Cocogoose", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  color: #272a31;
}
.headline-description .address {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 25px;
  color: #41434b;
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 768px) {
  .headline {
    padding: 6rem;
  }
  .headline-title p {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 45px;
  }
  .headline-title h1 {
    font-family: "Cocogoose", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 70px;
    margin: 5px;
  }
  .headline-description p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    padding-left: 30px;
    width: 75%;
  }
  .headline-description h2 {
    font-family: "Cocogoose", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 45px;
  }
  .headline-description .address {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .headline {
    padding-top: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .headline-title h1 {
    width: 80%;
    margin: 5px;
  }
  .headline-description p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    padding-left: 30px;
    width: 55%;
    margin-bottom: 80px;
    margin-top: 50px;
  }
}
.classify-steps {
  background-color: #272a31;
  padding: 54px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.classify-steps h1 {
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.classify-steps .divider {
  border: 2px solid #ec5242;
  background-color: transparent;
  height: 1px;
  width: 180px;
  margin: auto;
  margin-bottom: 1rem;
}
.classify-steps ul {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: 12px;
}
.classify-steps ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: auto;
  background: #41434b;
  padding: 12px;
  transition: border 0.8s;
}
.classify-steps ul li img {
  width: 40px;
  height: 40px;
  flex-basis: 20%;
}
.classify-steps ul li h2 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  flex-basis: 30%;
}
.classify-steps ul li p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  overflow: unset;
  flex-basis: 50%;
  margin: 0;
  word-wrap: break-word;
}
.classify-steps button {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  background-color: #ec5242;
  color: #fff;
  padding: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 1.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .classify-steps ul {
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    gap: 2px;
    margin-bottom: 3rem;
  }
  .classify-steps ul li {
    flex-direction: column;
    height: 200px;
  }
  .classify-steps ul li img {
    flex-basis: 25%;
  }
  .classify-steps ul li h2 {
    flex-basis: 25%;
  }
  .classify-steps ul li p {
    text-align: center;
  }
  .classify-steps button {
    width: 115px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=home.css.map */
