@use '../utilities' as *;

.link {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.dark {
  background-color: $primary-black;

  div {
    h1 {
      color: $primary-white !important;
    }

    p {
      color: $primary-white !important;
    }
  }
}

.divider {
  border: 2px solid $primary-red;
  background-color: transparent;
  height: 1px;
  width: 180px;
  margin: auto;
  margin-bottom: 1rem;
}

body {
  background-color: $primary-light-gray;
  margin: 0;
}
