@font-face {
  font-family: "Cocogoose";
  src:
    url('../../assets/fonts/Cocogoose-regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');