@font-face {
  font-family: "Cocogoose";
  src:
    url('../../assets/fonts/Cocogoose.eot') format("eot"),
    url('../../assets/fonts/Cocogoose.woff') format("woff"),
    url('../../assets/fonts/Cocogoose-regular.ttf') format("truetype"),
    url("../../assets/fonts/Cocogoose.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
